.front-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  color: white; /* Ensure text color is visible on black background */
}

.login-text {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  /* Optional: additional styling to make it look more like a link */
  text-decoration: underline;
}
.search-container {
  position: absolute;
  top: 25%; /* Adjusted to be 20% further down */
  left: 2.5%;
  width: 95%;
  display: flex;
  align-items: center;
}

.search-container .magnifying-glass {
  font-size: 24px;
  margin-right: 10px;
}

.search-container .search-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd; /* Only a bottom border */
  background-color: transparent; /* Make the background transparent */
  padding: 5px;
  font-size: 16px;
  color: white; /* Adjust text color as needed */
}

.search-container .search-input::placeholder {
  color: white; /* Adjust placeholder text color as needed */
}

.search-container .search-input:focus {
  outline: none;
}
